<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>杂志信息采集检索系统</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/baby-blue.css">
    <link rel="stylesheet" href="/static/css/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
    <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
    <script type="text/javascript">
        $(function(){
            //表格显示
            $("#myTable").tablesorter({
                widgets: ['zebra']
            })

            $("#index").addClass("pure-menu-selected")


            $("#collect").click(function(){
                $("#form").hide()
                $("#waiting").show()
                $("#info").html("")
                var urls = $("#urls").val()
                $.ajax({
                    url:"/collect/",
                    data:{urls:urls},
                    success:function(msg){
                        alert("完成！共获取 " + msg + " 条新记录")
                        $("#form").show()
                        $("#waiting").hide()
                        top.location = "/data/"
                    },
                    error:function(request){
                        alert("遇到错误，请重试")
                        $("#info").html("<textarea style='width: 600px; height: 300px'>"+request.response+"</textarea>")
                        $("#form").show()
                        $("#waiting").hide()
                    }
                })
            })

        })
    </script>
</head>

<body>


<div class="pure-g-r" id="layout" style="letter-spacing:0">


    {% include "menu.html" %}



    <div id="right">

        <div class="header">
            <h1>数据采集</h1>
        </div>

        <div id="content" style="text-align: center;margin-top: 30px" >
            <div  id="form">
                <textarea name="urls" style="width: 900px; height: 300px" id="urls">{{ urls }}</textarea>
                <br/>
                <br/>
                <button class="pure-button pure-button-primary" id="collect">开始采集</button>
            </div>

            <img src="/static/images/waiting.gif" id="waiting" style="display: none"/>
            <div id="info"></div>



        </div>

    </div>


</div>



</body>

</html>
